#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

# use flake will automatically pick up the flake.nix and devenv configuration
# --impure is required for devenv to determine the current directory when used as a flake
use flake . --impure
