# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Compiled objects and binaries
*.o
*.o.d
*.out
*.bin

# Clangd
.clangd
.cache/

# Compiled test binaries
egrabber-sample-programs/cpp/egrabber-snippets/mytest/egrabber-samples
egrabber-sample-programs/cpp/egrabber-snippets/mytest/test-dlopen
egrabber-sample-programs/cpp/egrabber-snippets/mytest/test-gentl
egrabber-sample-programs/cpp/egrabber-snippets/mytest/test-strace
egrabber-sample-programs/cpp/MIT_Cameras/my_app
