#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

# Load the Python devenv environment from ../python
pushd ../python > /dev/null
eval "$(devenv direnvrc)"
eval "$(devenv print-dev-env)"
popd > /dev/null

# Load the Rust devenv environment from ../rust
pushd ../rust > /dev/null
eval "$(devenv direnvrc)"
eval "$(devenv print-dev-env)"
popd > /dev/null
